{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    {% if form %}
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Enter title" id="foo"> <br>
            <textarea name="data" rows="10" placeholder="Enter markdown content"></textarea> <br>
            <input type="submit" value="Save">
        </form>
    {% else %}
        <h2>Entry titled '{{ title }}' already exists.</h2>
    {% endif %}
{% endblock %}